
<style>
.mainbodycontainer{
width:900px;
margin:auto;
height:1000px;
}
</style>

<div class="mainbodycontainer">

    <div class="leftnav">
    <div class="leftnavtextarea">
    <div class="leftnavheader">Contact Us</div>   
    <div class="leftnavtext">

Interested in The Ocean Rose?  Contact us and we'll get back to you right away.

<br><br>
<form name="contact" action="contact.php" method="post">
<div style="padding:10px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;">
<table>
<tr>
<td>
First name<br>
<input type="text" name="firstName" size="15"/>
</td>
<td>
Last name<br>
<input type="text" name="lastName" size="15"/>
</td>
</tr>

<tr>
<td colspan="2">
email<br>
<input type="text" name="email" size="30"/>
</td>
</tr>

<tr>
<td colspan="2">
Phone<br>
<input type="text" name="phone" size="30"/>
</td>
</tr>

</table>
</div>
</form>
<br>
&nbsp;&nbsp;<span class="b3"><a href="javascript: submitform()" class="b2">Submit ></a></span>
<br><br>
<script type="text/javascript">
function submitform()
{
  document.contact.submit();
}
</script>


        </div>   


    </div>
    </div>
