
<style>
.mainbodycontainer{
width:900px;
margin:auto;
height:1000px;
}
</style>

<div class="mainbodycontainer">

    <div class="leftnav">
    <div class="leftnavtextarea">
    <div class="leftnavheader">Book a Stay</div>   
    <div class="leftnavtext">

Interested in The Ocean Rose?  Check out availability and pricing on Airbnb.
<br><br>
<span class="b1">
<a href="https://www.airbnb.com/rooms/719285" target="new">Book a stay via Airbnb ></a>
</span>
<br><br>
<br><br>
<br><br>

        </div>   


    </div>
    </div>
