
<style>
.mainbodycontainer{
width:900px;
margin:auto;
height:1400px;
}
</style>


<div style="border:10px solid #34577F;height:277px;-moz-border-radius:10px;border-radius:10px;background-color:#34577f;">

<div id="header"><div class="wrap">
   <div id="slide-holder">
<div id="slide-runner">
    <a href=""><img id="slide-img-1" src="/images/house.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-2" src="/images/beachgate.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-3" src="/images/ledgeview.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-4" src="/images/concreteship.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-5" src="/images/view.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-6" src="/images/dolphinsurf.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-7" src="/images/boogie.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-8" src="/images/walkthedog.jpg" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-9" src="/images/aptossunset.jpg" class="slide" alt="" /></a>
    <div id="slide-controls">
     <p id="slide-client" class="text">
     <p id="slide-desc" class="text"></p>
     <p id="slide-nav"></p>
    </div>

</div>
</div>

  <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[
	{"id":"slide-img-1","client":"","desc":"A home away from home"},
	{"id":"slide-img-2","client":"","desc":"Beachgate: The path to the beach"},
	{"id":"slide-img-3","client":"","desc":"The view from Beachgate"},
	{"id":"slide-img-4","client":"","desc":"The infamous concrete ship"},
	{"id":"slide-img-5","client":"","desc":"View from the deck"},
	{"id":"slide-img-6","client":"","desc":"Dolphins surfing in Aptos"},
	{"id":"slide-img-7","client":"","desc":"The smaller waves here make for great boogie boarding"},
	{"id":"slide-img-8","client":"","desc":"The best place to go for a walk, ever"},
	{"id":"slide-img-9","client":"","desc":"Beautiful Aptos sunset"}
	];
   </script>
  </div></div>



</div>
</div>
	
	<div class="spacer"></div>

   	<div class="mainbodycontainer">

	<div class="leftnav">
	<div class="leftnavtextarea">
	<div class="leftnavheader">Welcome</div>	
	<div class="leftnavtext">The Ocean Rose is a modern, unique family home with amazing ocean views situated just steps from Seacliff beach in Aptos. This beautifully furnished vacation home has vaulted ceilings, hardwood, slate and carpeted floors, lots of windows and skylights, two ocean view decks, indoor and outdoor dining, and beautiful landscaping. The home has beautiful ocean views from almost every room and you can hear the gentle crash of the waves while lying in bed.
		</div>	

	<div class="leftnavheader">About the home</div>	
	<div class="leftnavtext">
	<ul style="font-size:18px;">
	<li>3 bedrooms, 1800 square feet, sleeps 8 very comfortably</li>
	<li>fully furnished</li>
	<li>internet access and wireless network</li>
	<li>cable with HD TV's in living room and all bedrooms</li>
	<li>stereo system with separate audio controls in each room</li>
	<li>master bedroom - california king bed</li>
	<li>second bedroom - queen bed</li>
	<li>third bedroom (sleeps 4) - bunk bed with a trundle and a twin</li>
	<li>towels and linens provided</li>
	<li>modern kitchen with granite countertops and stainless steel appliances</li>
	<li>laundry room with LG washer and dryer</li>
	<li>outdoor hot-water shower to rinse off the sand</li>
	<li>ample parking (2-car garage, driveway, parking in rear)</li>
	<li>sand toys, boogie boards, beach chairs and umbrellas.</li>
	</ul>
	
	</div>	
	
	<div class="leftnavheader">Location</div>	
	<div class="leftnavtext">We're located on the bluffs of Seacliff in Aptos. Time to walk from front door to toes in the water: 5 Minutes.<br><br><img src="images/location.jpg"/></div>	
	
	</div>
	</div>


