
<style>
.mainbodycontainer{
width:900px;
margin:auto;
height:1200px;
}
</style>


   	<div class="mainbodycontainer">

	<div class="leftnav">
	<div class="leftnavtextarea">
	<div class="leftnavheader">Rates</div>	
	<div class="leftnavtext">
	
<b>
Off Season Rates (September 1st - May 15th)</b><br>

<br>$1,500/Week
<br>$249/Night (Minimum 3 Nights)

<br><br>
<b>Peak Season Rates (May 15th - August 31st)</b><br>

<br>$2,000/Week
<br>$349/Night (Minimum 3 Nights)

<br><br><br>All stays also include an additional $150 cleaning fee.
<br><br>From June 15th thru Aug 15th we usually only accept weekly bookings, from Sunday thru Sunday or Friday thru Friday. Priority will be given to clients who want the most days.
<br><br>

<div style="background-image:url('images/starburst.gif');background-repeat:no-repeat;height:170px;position:relative;left:370px;top:-300px;">
<div style="font-size:25px;color:white;padding-left:65px;padding-top:25px;">Only</div>
<div style="font-size:40px;color:white;padding-left:50px;font-weight:bold;">$249
</div>
</div>


</div>

</div>
</div>
	



