<div class="rightnav">

    <div class="rightnavheader">Testimonials</div>   
    <div id="quotelist" class="rightnavtext">
   </div>

    <div class="rightnavheader">Friends</div>   
		<div style="margin:5px; padding-top:10px;padding-bottom:10px;background-color:#FFF;">
		<div class="fb-like" data-href="http://www.aptosoceanrose.com" data-colorscheme="light" data-width="260" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
</div>

<script>
  var quote=[];
  var c=0;
  db.collection("quotes").get().then(function(querySnapshot) {
    querySnapshot.forEach(function(doc) {
    // doc.data() is never undefined for query doc snapshots
    c++;
    quote[c]=doc.data();
    });
    
    var r=Math.round(Math.random() * (c - 1) + 1);
    
    var quotelist=document.getElementById("quotelist");
    var cquote=document.createElement("div");
    var cname=document.createElement("div");
    cquote.innerHTML=quote[r].quote;
    cname.innerHTML="<br><br> - "+quote[r].name;
    quotelist.appendChild(cquote);
    quotelist.appendChild(cname);
   });


  </script>   