<style>
.mainbodycontainer{
width:900px;
margin:auto;
height:2500px;
}

.pic{padding-bottom:40px;display:block;}

.image2 {
float:left;
margin-right:10px;
}

.tnail1 {
    border-radius: 8px 8px 8px 8px;
    padding: 0;
    width: 100px;
}

</style>

<script type="text/javascript">

function addborder(id1) {
element = document.getElementById(id1);
element.style.border = "3px solid #34577F";
}

function removeborder(id1) {
element = document.getElementById(id1);
element.style.border = "3px solid white";
}

$(function() {
$('a.lightbox').lightBox();
});

</script>



   	<div class="mainbodycontainer">

	<div class="leftnav">
	<div class="leftnavtextarea">
	<div class="leftnavheader">Things to Do</div>	
	<div class="leftnavtext">

	<br>

	<div class="pic" >

	<b>Relax.</b>
	Relaxing is one of our favorite pastimes. Go out on the deck and watch the ocean for a few minutes.  Enjoy a cup of coffee or a cold drink on the deck while watching the ocean and listen to the sounds of the waves crashing on the beach.  A heat lamp is provided for chilly evenings. 
	</div>
	
	<div class="pic">
	<b>Listen to some music.</b>
	Play some music to help get you in the vacation mood (whatever it is).  You'll find a stereo in the upstairs closet with a plug for your ipod/iphone so you can listen to your own playlists.  Music is piped into each bedroom, each with separate volume controls.    
	</div>
	
	<div class="pic">
	<b>Take a walk on the beach</b>
	This is our favorite thing to do.  Just down the street you'll find the entrance to the Beachgate stairs, a picturesque walk to Seacliff State Beach.  There you'll find the longest unbroken beach in Northern California.  You can walk north to Capitola or south to Monterey.  Time from door to toes in the water:  5 minutes. 
	</div>

	<div class="pic">
	<div style="padding-left:115px;">
	<b>Take a walk to restaurants</b>
	<br><br>
	<a href="http://www.yelp.com/biz/the-hole-in-the-wall-cafe-aptos" class="a3" target="_new">Hole in the Wall</a> - Fantastic for breakfast<br>
	<a href="http://www.yelp.com/biz/sno-white-drive-in-aptos" class="a3" target="_new">Sno-White Drive In</a> - Great burgers and awesome milkshakes<br>
	<a href="http://www.yelp.com/biz/manuels-mexican-restaurant-aptos" class="a3" target="_new">Manuel's Mexican Restaurant</a> - Tasty Margaritas<br>
	<a href="http://www.yelp.com/biz/ambrosia-india-bistro-aptos-2" class="a3" target="_new">Ambrosia India Bistro</a> - Try a taste of India in Aptos<br>
	<a href="http://www.yelp.com/biz/pizza-1-aptos#hrid:KMaoeHa6oBTyN0Oyk4ycOw" class="a3" target="_new">Pizza 1</a> - Grab a slice and eat it there or take it to the beach<br>
	<a href="http://www.yelp.com/biz/pixie-deli-aptos" class="a3" target="_new">Pixie Deli</a> - No Shoes  No Shirt  No Shorts  No Problem!<br>
	</div>	
	</div>


	<div class="pic">
	<b>Take a nap.</b>
	This home will help you perfect your napping skills.  Whether you want a 20-minute power nap, a 1-hour cat nap, or the 2+ hour monster nap, the sound of seagulls and the waves hitting the beach will take you to your napping paradise.  
	</div>
	
	<div class="pic">
	<b>Play in the sand and ride the waves.</b>
	Seacliff State Beach is great for kids.  Look for sand dollars at low tide.  Dig for sand crabs.  Make sand castles.  Go boogie boarding and body surfing.  You'll find boogie boards and sand toys in the garage for your family.  Have fun!
	</div>

	<div class="pic">
	<b>Go fishing.</b>
	Aptos pier with a view of the cement ship is a fun place to fish for Perch, Striped Bass and even the occasional ray.  Also, fishing from the pier is free and does not require a license.  
	</div>

	</div>
	
	<div class="leftnavheader">Local Attractions</div>	
	<div class="leftnavtext">

	<div class="pic">
	<a href="http://www.montereybayaquarium.org/" target="_new" class="a3"><b>Monterey Bay Aquarium.</b></a>
	Be sure to take a day to visit one of the largest and most amazing aquariums in the world.<br><br><br>
	</div>
	
	<div class="pic">
	<a href="http://www.santacruzstateparks.org/parks/nisene/" target="_new" class="a3">
	<b>The Forest of Nisene Marks.</b></a> 
	Literally just 2 miles from the house is an amazing park and old growth redwood forest.  The gentle stream running throughout the park makes for a great picnic spot.  There are over 30 miles of great hiking and biking trails.  This truly is a hidden gem.    
	</div>


	<div class="pic">
	<a href="http://www.carmelcalifornia.com/" target="_new" class="a3"><b>Carmel.</b></a>
	Just beyond Monterey is Carmel.  Make sure you spend a day here too.  A great day trip is to go early, around 8am - have breakfast at the <a href="http://www.yelp.com/biz/little-swiss-cafe-carmel-by-the-sea" target="_new" class="a3">Little Swiss Cafe</a>, shop a little, then have a picnic lunch at Carmel-by-the-Sea, home of one of the most beautiful beaches in the world.
	</div>

	<div class="pic">
	<a href="http://www.beachboardwalk.com/" target="_new" class="a3"><b>Santa Cruz Beach Boardwalk.</b></a>
	 The Santa Cruz Beach Boardwalk is only 10 minutes from Aptos. <br><br><br>
	</div>

	<div class="pic">
	<a href="http://www.parks.ca.gov/?page_id=541" target="_new" class="a3"><b>Natural Bridges State Beach.</b></a> 
        A temporary home for up to 100,000 Monarchs from roughly mid-October through mid-February. <br><br>
	</div>

	<div class="pic">
	<a href="http://www.parks.ca.gov/?page_id=52" target="_new" class="a3"><b>Ano Nuevo</b></a> - This park is a major gathering area for northern elephant seals. <br><br><br>	</div>

	<div class="pic">
	<a href="http://www.montereybayfarmers.org/aptos.html" target="_new" class="a3"><b>Aptos Farmer's Market</b></a> - year-round, Saturdays, 8am - 12pm at Cabrillo college.<br><br><br> 
	</div>

	<div class="pic">
	<a href="http://www.gizdich-ranch.com/index.php" target="_new" class="a3"><b>Gizdich Ranch</b></a> - Fun place to go berry or apple picking! <br><br><br><br>
	</div>

	<div class="pic">
	<a href="http://www2.ucsc.edu/seymourcenter/" target="_new" class="a3">
	<b>Seymour Marine Discovery Center</b></a> - Great for young children! <br><br><br>
	</div>

	<div class="pic">
	<a href="http://shakespearesantacruz.org/" target="_new" class="a3"><b>Shakespeare Santa Cruz</b></a> - Support the arts! <br><br><br><br><br><br>
	<br><br>	
	</div>

	<a href="http://www.explorer1.com/santacruz/family.htm" target="_new" class="a3"><b>More local attractions ></b></a>
	<br><br>

	</div>
	
	</div>
	</div>